html {
    font-size: 100%;
}
body {
    background: url('img/buy-page-bg.png') no-repeat center fixed;
    background-size: cover;
}

.content-group {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin-left: 50%;
    margin-top: 100px;
}
.title {
    font-weight: 100;
    font-size: 4rem;
    letter-spacing: 3px;
    color: #00a6e4;
    margin: 0px;
}
.rebate-button {
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 1px;
    background-color: #b0bec5;
    color: white;
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 3px;
    border: none;
    padding: 5px 10px;
}
.rebate-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Product List Styles */
.product-list {
    width: 90%;
    list-style: none;
    padding-left: 0;
}
.product-list li {
    position: relative;
    border-top: 1px solid #dedede;
    padding: 20px 0px;
}
.product-name {
    font-size: 2.8rem;
    color: #525252;
    margin: 0;
}
.product-price {
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: #a5a5a5;
    margin: 5px 0px;
}
.product-description {
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: #a5a5a5;
    margin: 0;
}
.product-button-container {
    float: right;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 150px;
    height: 75px;
}
.product-button {
    position: absolute;
    width: 28px;
    height: 28px;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    background-color: #b0bec5;
    color: white;
    border-radius: 100%;
    padding: 5px 5px;
}
.product-button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.product-quantity {
    position: absolute;
    top: -10px;
    font-size: 3rem;
    left: 60px;
}
.subtract {
    left: 0px;
}
.add {
    right: 0px;
}


/* Media Queries */
@media (max-width: 1625px) {
    html { 
        font-size: 85%; 
    }
    .product-button {
        width: 25px;
        height: 25px;
    }
    .product-button-container {
        width: 120px;
    }
    .product-quantity {
        left: 50px;
    }
}
@media (max-width: 1400px) {
    html { 
        font-size: 70%; 
    }
    .product-list li {
        padding: 30px 0px;
    }
    .product-button {
        width: 20px;
        height: 20px;
    }
    .product-button-container {
        width: 100px;
    }
    .product-quantity {
        top: -5px;
        left: 40px;
    }
}
@media (max-width: 1200px) {
    html { 
        font-size: 60%; 
    }
    .product-list li {
        padding: 35px 0px;
    }
    .product-button {
        width: 18px;
        height: 18px;
    }
    .product-button-container {
        width: 90px;
    }
    .product-quantity {
        top: -5px;
        left: 35px;
    }
}
@media (max-width: 1000px) {
    html { 
        font-size: 50%; 
    }
    .product-list li {
        padding: 40px 0px;
    }
    .product-button {
        width: 16px;
        height: 16px;
    }
    .product-button-container {
        width: 80px;
    }
    .product-quantity {
        top: -3px;
        left: 30px;
    }
}

/* Mobile Breakpoints */
@media (max-width: 850px) {
    /* Use alternate bg */
    body {
        background: url('img/buy-page-mobile-bg.jpg') no-repeat left;
        background-size: cover;
    }
    html { 
        font-size: 60%; 
    }
    .content-group {
        margin-top: 450px;
        margin-left: 42%;
    }
    .product-quantity {
        left: 32px;
    }
}
@media (max-width: 700px) {
    /* Remove bg */
    body {
        background: none;
        background-color: #f1f1f1;
    }
    .content-group {
        margin-top: 50px;
        margin-left: 5%;
    }
}
@media (max-width: 700px) {
    html { 
        font-size: 50%; 
    }
    .rebate-button {
        margin-bottom: 55px;
    }
    .product-list {
        width: 100%;
    }
}